body {
    position: relative;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 1);
    height: 90%;
    width: 195vh;
}

.header {
    width: 100%;
    height: 10vh;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 42px;
    display: flex;
    font-weight: bold;
    align-items: end;
}

.bookIcon {
    margin-left: 1vh;
    height: 5vh;
}

.functional-bar {
    width: 99, 5%;
    height: 10vh;
    border: 2px grey solid;
    border-radius: 7px;
    display: flex;
}

.leftContainer {
    height: 100%;
    width: 50%;
}

.leftContainer>p {
    margin: 5px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: 300;
    margin-left: 10px;
}

.rightContainer {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.addBook {
    width: 20vh;
    height: 5vh;
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(22, 218, 87, 1);
    border: 3px solid grey;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 15px;
}

.addBook:hover {
    background-color: rgba(5, 255, 88, 1);
}

#new-book-questionary {
    display: none;
    position: fixed;
    right: 35%;
    left: 35%;
    bottom: 30%;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    background-color: rgba(243, 239, 226, 1);
    border: 3px solid white;
    font-weight: 500;
    border-radius: 10px;
    font-size: 16px;
    z-index: 1000;
}

fieldset {
    border: none;
}

.upper-container {
    display: flex;
    justify-content: space-between;
}

#exit-button {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

#exit-button:hover {
    transform: scale(1.2);
}

fieldset>input {
    margin: 15px;
}

#radio-question {
    margin-top: 5px;
}


#submit-book {
    margin-top: 30px;
    background-color: rgba(5, 255, 88, 1);
    border-radius: 7px;
}

.library-display {
    width: 100%;
    height: 70vh;
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    overflow: auto;
}

.grid-item-template {
    width: 100%;
    height: 100%;
    background-color: rgba(243, 239, 226, 1);
    display: none;
    /* set to flex ! */
    flex-direction: column;
    border: 3px solid white;
    font-weight: 500;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 5px;

}


.grid-item {
    width: 100%;
    height: 100%;
    background-color: rgba(243, 239, 226, 1);
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    font-weight: 500;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 5px;
}

.grid-item>p {
    padding-left: 10px;
}

#remove-btn {
    width: 50%;
    height: 10%;
    margin-left: 25%;
    background-color: rgba(206, 34, 34, 1);
    border: 3px solid darkred;
    border-radius: 15px;
    margin-bottom: 5px;

}

#remove-btn:hover {
    background-color: rgba(248, 27, 27, 1);
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#signature {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;

}

#ghlogo {
    width: 4vh;
    height: 4vh;
    margin: 2px;
}